<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    <!-- driver title -->
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    <!-- account access -->
    {{#accordion-list-item title="Account Access"
                           detail="API endpoint and credentials will be used to launch Xelon VDC devices."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Username{{field-required}}</label>
          {{input type="text"
                  class="form-control"
                  value=config.username
                  placeholder="Your Xelon email address"
          }}
        </div>
        <div class="col span-6">
          <label class="acc-label">Password{{field-required}}</label>
          {{input type="password"
                  class="form-control"
                  value=config.password
                  placeholder="Your Xelon password"
          }}
        </div>
      </div>
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">Xelon API URL</label>
          {{input type="text"
                  class="form-control"
                  value=config.apiBaseUrl
                  placeholder="Xelon API base URL"
          }}
        </div>
      </div>
    {{/accordion-list-item}}

    <!-- device -->
    {{#accordion-list-item title="Device"
                           detail="Customize the Xelon device that will be created."
                           expandAll=expandAll
                           expand=(action expandFn)
                           expandOnInit=true
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">CPUs</label>
          <div class="input-group">
            {{input-integer min=1
                            max=24
                            value=config.cpuCores
                            classNames="form-control"
            }}
            <div class="input-group-addon bg-default">Cores</div>
          </div>
        </div>
        <div class="col span-6">
          <label class="acc-label">Memory</label>
          <div class="input-group">
            {{input-integer min=1
                            max=128
                            value=config.memory
                            classNames="form-control"
            }}
            <div class="input-group-addon bg-default">GB</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Disk</label>
          <div class="input-group">
            {{input-integer min=1
                            max=2000
                            value=config.diskSize
                            classNames="form-control"
            }}
            <div class="input-group-addon bg-default">GB</div>
          </div>
        </div>
        <div class="col span-6">
          <label class="acc-label">Swap Disk</label>
          <div class="input-group">
            {{input-integer min=1
                            max=20
                            value=config.swapDiskSize
                            classNames="form-control"
            }}
            <div class="input-group-addon bg-default">GB</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Kubernetes ID</label>
          {{input type="text"
                  class="form-control"
                  value=config.kubernetesId
                  placeholder="Kubernetes ID for the device"
          }}
        </div>
        <div class="col span-6">
          <label class="acc-label">Device Password</label>
          {{input type="type"
                  class="form-control"
                  value=config.devicePassword
                  placeholder="Kubernetes ID for the device"
          }}
        </div>
      </div>
    {{/accordion-list-item}}

    <!-- This following contains the Name, Labels and Engine Options fields -->
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>
    {{form-name-description model=model nameRequired=true}}
    {{form-user-labels initialLabels=labelResource.labels setLabels=(action 'setLabels') expandAll=expandAll expand=(action expandFn)}}
    {{form-engine-opts machine=model showEngineUrl=showEngineUrl}}
  {{/accordion-list}}
  <!-- errors produced by validate() in the component -->
  {{top-errors errors=errors}}
  <!-- Create and Cancel buttons -->
  {{save-cancel save=(action "save")
                cancel=(action "cancel")}}
</section>